---
const { frontmatter } = Astro.props;
---

<header>
  <img src={frontmatter.thumbnail} alt="Czarodzieje kodu" />
  <h2>{frontmatter.title} ({frontmatter.order})</h2>
</header>

<section>
  <article>
    <slot />
  </article>
</section>

<style>
  h1 {
    margin: 2rem 0;
  }

  article {
    /*  */
    padding: 1.2em;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }

  section {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 1rem;
    padding: 1rem max(1rem,calc(50% - 50ch));
    background-color: #ffc;
    
  }

  header {
    display: grid;
    /* margin: 2rem 0 1rem 0; */
    grid-template-columns: 1fr 12fr;
    align-items: center;
    grid-gap: 1rem;
    padding: 1rem max(1rem,calc(50% - 50ch));
    background-color: var(--color-light);
  }
  img {
    width: 100px;
    height: auto;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
